
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../triplat-routing/triplat-routing.html">
<link rel="import" href="../iron-pages/iron-pages.html">

<link rel="import" href="cst-passport-new.html">


<dom-module id="cst-passport-main">
	<style>
	.newbutton{
		position:absolute;
		top: 10px;
		right:15px;
	}
	</style>
	<template>
		<1></1><2></2>
		<triplat-route id="allPassportRoute" name="allPassportApplications" path="/"></triplat-route>
		<triplat-route id="newPassportRoute" name="newPassportApplications" path="/new/-1"></triplat-route>
		<triplat-route-selector selected="{{_selectedRoute}}">
		<iron-pages>
             <section route="allPassportApplications" default-route>
				 <div class="newbutton">
				<paper-button on-tap="_onNewPassport">New Passport</paper-button>
			</div>
			</section>
<section id="newPassportPage" route="newPassportApplications">
<cst-passport-new></cst-passport-new>
</section>
		</iron-pages>
	</triplat-route-selector>
		
			
		
	</template>
</dom-module>
<script>
	Polymer({

		is: "cst-passport-main",

		behaviors: [Polymer.IronResizableBehavior],

		_onNewPassport:function()
		{
			this.$.newPassportRoute.navigate();
		}
	});
</script>