<link rel="import" href="../triplat-view-behavior/triplat-view-behavior.html">

<link rel="import" href="../paper-material/paper-material.html">

<link rel="import" href="../triplat-ds/triplat-ds.html">
<link rel="import" href="../triblock-app-layout/triblock-app-layout.html">

<link rel="import" href="cst-passport-main.html">





<dom-module id="cst-passport-view">
	<style>
	
#applayout{
	--triblock-app-layout-body-background-color:white;
}
	#cursor{
		position:absolute;
		right: 50px;
		font-size: 15px;
	}
			
		

	</style>
	<template>
		<triplat-ds id="currentUser" name="currentUser" data="{{_currentUser}}"></triplat-ds>
		
		<triblock-app-layout id="applayout" responsive-width="550px" show-mobile-back-button mobile-page-label="Passport Application">
			<div app-title>
				<span>
					IBM <b> TRIRIGA Passport Application </b>
				
				</span>
				<span id="cursor">
				{{_currentUser.name}}

				</span>
			</div>
			<triblock-banner-button back tap-handler="_navigateBack"></triblock-banner-button>
			<triblock-banner-button home tap-handler="_navigatetoHome"></triblock-banner-button>
			<cst-passport-main id="mainPassportPage"></cst-passport-main>
		</triblock-app-layout>
	
		
	</template>
</dom-module>
<script>
	Polymer({

		is: "cst-passport-view",

		behaviors: [TriPlatViewBehavior],
		_navigatetoHome:function()
		{
            var mainPage=this.$.mainPassportPage;
			mainPage.$.allPassportRoute.navigate();
			window.location.reload();
		},
		_navigateBack:function()
		{
			history.back();
		}

		
	});
</script>