<link rel="import" href="../triplat-view-behavior/triplat-view-behavior.html">

<link rel="import" href="../paper-material/paper-material.html">

<link rel="import" href="../triplat-ds/triplat-ds.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../triblock-toast/triblock-toast.html">
<link rel="import" href="../triplat-date-picker/triplat-date-picker.html">

<dom-module id="cst-passport-new">
	<style>
		paper-material {
			padding: 20px;
			background-color: rgb(15, 15, 15);
			margin-top: 30px;
		}
		.flex {
			display:flex;
			
			
		}
		.left-panel {
			width:50%;
			margin-left:10px
			
		}
		.right-panel {
			width:50%;
			margin-left:100px
			
		}

	</style>
	<template>
		<triplat-ds id="cstPassportDSID" name="cstPassportDS" data="{{cstPassportDS}}"></triplat-ds>
		
		<div class="flex">
			<!--<paper-input label="ID" id="id1" value="{{id}}"></paper-input>-->
			
             <div class="left-panel">
				<paper-input label="First name" id="passfirstName" value="{{passfirstName}}"></paper-input>
				<paper-input label="Middle Name" id="passmiddleName" value="{{passmiddleName}}"></paper-input>
				<paper-input label="Last Name" id="passlastName" value="{{passlastName}}"></paper-input>
			 </div>
			
		  <div class="right-panel">
			<paper-input label="Aadhar Number" id="passaadharNumber" value="{{passaadharNumber}}"></paper-input>
			<paper-input label="Mobile Number" id="passmobileNumber" value="{{passmobileNumber}}"></paper-input>
			<triplat-date-picker label="DOB" id="passdateofBirth" value="{{passdateofBirth}}"></triplat-date-picker>
			<!--<label for="passapplyingdate">Applying Date:</label>
			<input label="Applying Date" type="date" id="passapplyingdate" name="passapplyingdate" value="{{dd-mm-yyyy}}"></input>
			-->
			</div>
			
		</div>

		<div>
			<paper-button style="margin-right:550px;margin-left:550px" on-tap="_apply">Apply</paper-button>
		</div>


			
		
				<triblock-toast id="recordtoastID" type="success" title="Record Created" text="" duration="10000">
		</triblock-toast>
		<triblock-toast id="errortoastID" type="Error" title= "Missing" text="" duration="10000"></triblock-toast>
		
	

		
		<div class="layout horizontal center-justified">
		<!---	<paper-material z="1">
				Starter View for <b>cst-passport-view</b>
			</paper-material>-->
		</div>
		
	</template>
</dom-module>
<script>
	Polymer({

		is: "cst-passport-new",

		
		_apply:function()
		{
			var newPeople = {};
			newPeople.firstName =this.$.passfirstName.value;
			newPeople.lastName =this.$.passlastName.value;
			newPeople.aadharNumber =this.$.passaadharNumber.value;
			newPeople.mobileNumber =this.$.passmobileNumber.value;
			newPeople.middleName =this.$.passmiddleName.value;
			newPeople.dateofBirth=this.$.passdateofBirth.value;
	//	alert(newPeople.aadharNumber);
   if(this.passfirstName==""||this.passlastName==""||this.passaadharNumber==""){
	if(this.passfirstName==""&&this.passlastName==""&&this.passaadharNumber==""){
		this.$.errortoastID.text="First Name ,Last Name , Addhar number  are required Field";
	       
	    }
        else if(this.passlastName==""&&this.passfirstName!=null&&this.passaadharNumber!=null){
	        this.$.errortoastID.text="Last Name is a required Field";
          }
        else if (this.passlastName!=null&&this.passfirstName==""&&this.passaadharNumber!=null)
		{
			this.$.errortoastID.text="First Name is a required Field";
		}
	   else if(this.passaadharNumber==""&&this.passlastName!=null&&this.passfirstName!=null)
	   {
		this.$.errortoastID.text="Aadhar number  is a required Field";
	   }
	   
          
   this.$.errortoastID.open();

//this.$.errortoastID.text="First Name,Last Name,Aadhar Number,Mobile Number are Required Fields";


 }
  
 

   else{

	this.$.cstPassportDSID.createRecord(newPeople, TriPlatDs.RefreshType.BOTH,  "actionGroup", "create");
	//var test=newPeople._id;
	//alert(test);
	this.$.recordtoastID.open();
	this.$.recordtoastID.text="Passport " + this.passfirstName + " is Created";
		}
	   
	}
	});
</script>